[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
python-dotenv = "*"
pydantic = "*"
langchain = "*"
wikipedia = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-anthropic = "*"
langchain-core = "*"

[dev-packages]

[requires]
python_version = "3.12.12"
python_full_version = "3.12.12"
